.nav-bar-header
{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3d7373;
    height: max-content;
    padding: 12px;
    
}

.nav-bar-header a
{
    padding: 12px;
    margin: 12px;
    color: wheat;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
}
.nav-bar-header a:hover
{
    background-color: #627474;
    color: white;
}
.nav-bar-header a:active
{
    transition: all 1ms;
    background-color: #4acfcf;
    color: black;
}
